####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

{% if item == 'cloudflare' %}
dns_cloudflare_api_token = {{ certbot_dns_cloudflare_api_token }}
{% endif %}
