#!/bin/bash
####################################
##### MANAGED BY ANSIBLE ({{ ansible_role_name }})
####################################

{% for item in certbot_restart_services %}
echo "Restarting service {{ item }}"
{% if ansible_service_mgr == 'systemd' %}
systemctl restart {{ item }}
{% elif ansible_service_mgr == 'upstart' %}
initctl restart {{ item }}
{% elif ansible_service_mgr == 'openrc' %}
rc-service {{ item }} restart
{% else %}
service {{ item }} restart
{% endif %}
{% endfor %}
